.top-carousel{
    background-color: #FCEAE8;
     height: 40em;
}

.button{
    background-color: #FF2178;
     color: white;
      padding: 8px 20px;
}
.categories img{
    width: 100px;
}
.card-border{
    border: 0;
    background-color: white;
}

.price{
    color: #FF2178;
}
.border-1{
    border: 0;
}
.border-radius{
    border-radius: 10px;
}
.watch-bg{
    background-color: #FFA500;
}
.bag-bg{
    background-color: #DA70D6;
}
.shoes-bg{
    background-color: #0000FF;
}
.subscribe{
     height: 300px;
      background-color:#FCEAE8;
}



@media (max-width: 1195px){
    .top-carousel{
        background-color: #FCEAE8;
         height: 35em;
    }
}
@media (max-width: 992px){
    .top-carousel{
        background-color: #FCEAE8;
         height: 30em;
    }
}
@media (max-width: 769px){
    .top-carousel{
        background-color: #FCEAE8;
         height: 48em;
    }
}

@media (max-width: 669px){
    .top-carousel{
        background-color: #FCEAE8;
         height: 48em;
    }
}
@media (max-width: 525px){
    .top-carousel{
        background-color: #FCEAE8;
         height: 44em;
    }
}
@media (max-width: 382px){
    .top-carousel{
        background-color: #FCEAE8;
         height: 40em;
    }
}